<!-- <style>
    .id1{
       text-align: right;
       }

    #lattitude{
        display: none;
    }

    #longitude{
         display: none;
    }
</style>

<div id="lattitude"><%= res[0].latitude%></div>
<div id="longitude"><%= res[0].longitude%></div> -->

<!-- <script> function initMap() {
    // The location of Montreal
    
    var campgroundLocation = {lat:Number(document.getElementById('lattitude').innerText), lng:Number(document.getElementById('longitude').innerText)};
    // The map, centered at Montreal
    var map = new google.maps.Map(
        document.getElementById('map'), {zoom: 4, center: campgroundLocation});
    // The marker, positioned at my home address
    var marker = new google.maps.Marker({position: campgroundLocation, map: map});
  }    </script>

 Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key 
    * The callback parameter executes the initMap() function
    -->
<!-- <script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDqPZxGV6POXCk20Rf7BuTeex92YzEhVgs&callback=initMap">
</script>  -->

<!-- <div class="col-md-3">
    <p class="lead">Campsite Map location</p>
    
     <div class="list-group">
        <li class="list-group-item active">Catogory 1</li>
        <li class="list-group-item">Catogory 2</li>
        <li class="list-group-item"><%= campground.address %></li>
    </div> -->

    <!-- <div id="map"></div>
</div> --> -->